<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeqne-ssRjgxEQn_MD8CKOZlHoC-Xky1g</string>
	<key>GCM_SENDER_ID</key>
	<string>213622458817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tandemchat.app</string>
	<key>PROJECT_ID</key>
	<string>holonet-forum</string>
	<key>STORAGE_BUCKET</key>
	<string>holonet-forum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213622458817:ios:c15e349d116c3db7e94740</string>
</dict>
</plist>